{% extends '_base.html' %}

{% block title %}Channels list{% endblock %}
{% load i18n %}
{% block content %}
  <a href="{{ public_link }}">{% trans "Public Playlist link" %}</a>
  <form>
    <input name="q" placeholder="Search channel by name" value="{{ request.GET.q }}">
    <button>{% trans "Search" %}</button>
  </form>
  <hr/>
  <a href="{% url 'new-channel' %}">{% trans "Add new channel to playlist" %}</a>
  <hr/>
  <a href="?order_by=title">{% trans "Order by title" %}</a>
  <br/>
  <ul>
    {% for object in object_list %}
      <li>
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
        (<a href="?group={{ object.group }}">{{ object.group }}</a>)
        <a href="{{ object.get_absolute_url }}">Edit/View</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
